.azkar-list-container {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

.azkar-list-card {
    width: 800px;
}

.azkar-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.azkar-main-card {
    width: 100%;
    text-align: center;
    box-shadow: none !important;
    height: 300px;
}

.azkar-main-card  p{
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 50px;
}

.azkar-main-card h4 {
    font-size: 24px;
    margin-bottom: 50px;
}

.azkar-wrapper > button:focus {
    outline: none !important;
}